.practice-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: rgb(182, 177, 170);
}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}

.cart-container {
  background-color: rgb(211, 192, 192);
}
